body {
  font-family: 'Poppins', sans-serif;
}

.headingstyle {
  background: linear-gradient(to right, #234eb0, #9010b0);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit */
  color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}
